@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  list-style: none;
}

@mixin text-1 {
  font-size: 1.125rem;
  color: #9e8c6c;
  font-weight: 1000;
  text-transform: uppercase;
}

@mixin text-2 {
  font-size: 1.25rem;
  font-weight: 200;
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  header {
    background-color: #f5f3f0;
    height: 720px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 98%);
    .header1 {
      position: relative;
      #c {
        position: absolute;
        bottom: -60px;
        right: 0px;
      }
    }
    .header2 {
      .p-header {
        @include text-1();
      }
      .heading-header {
        font-size: 7.875rem;
        width: 600px;
        line-height: 110px;
      }
      .button-header {
        margin-top: 30px;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: white;
        border: none;
        background: #0699a6;
        padding: 10px 20px;
      }
    }
  }
  main {
    // align-items: center;
    justify-content: space-evenly;
    // justify-items: center;
    display: flex;

    .Group1 {
      // background-color: #ce6767;
      width: 370px;
      height: 1559px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      ul {
        @include text-1();
        li {
          text-transform: capitalize;
          margin-bottom: 10px;

          @include text-2();
        }
        .li {
          text-transform: none;
          margin-bottom: 35px;
          b {
            font-size: 1.2rem;
          }
        }
        .a {
          text-transform: lowercase;
          font-size: 1rem;
          color: #0699a6;
        }
      }
    }
    .Group2 {
      width: 650px;
      height: 1559px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 1.6rem;
        margin-bottom: -60px;
      }
      p {
        @include text-2();
        margin-top: 70px;
      }

      ul {
        @include text-1();
        li {
          margin-top: 12px;
          @include text-2();
          text-transform: none;
        }
      }
    }
  }
  footer {
    height: 547px;
    background-color: #f5f3f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    clip-path: polygon(0 28% , 100% 0 , 100% 100%, 0 100%);
    #h-footer {
      font-size: 4.125rem;
      margin-bottom: 40px;
    }
    h4 {
      font-size: 1.8rem;
      color: #0699a6;
      margin-bottom: 65px;
    }
    ul {
      display: flex;
      width: 260px;
      justify-content: space-between;
    }
  }
}
